

<div id="tlo" class="carousel slide" data-ride="carousel">

<div class="arrow1">
<a href="#glowna">
<img src="https://image.freepik.com/free-icon/up-arrow_318-42561.jpg" class="arrow1 img-circle" width="30px" height="30px">
</a>
</div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#tlo" data-slide-to="0" class="active"></li>
    <li data-target="#tlo1" data-slide-to="1"></li>
    <li data-target="#tlo2" data-slide-to="2"></li>
    <li data-target="#tlo" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" id="glowna">
    <div class="item active">
      <img src="img_chania.jpg" alt="" width="460" height="345">
      <img src=https://scontent-ams3-1.xx.fbcdn.net/t31.0-8/13698028_1047030672047981_3572538743296353691_o.jpg height="800" width="100%">
    </div>

    <div class="item" id="tlo1">
      <img src=https://scontent-frt3-1.xx.fbcdn.net/t31.0-8/13123184_994413633976352_9127635689722409227_o.jpg alt="SIE2" width="800" height="100%">
    </div>

    <div class="item" id="tlo2">
      <img src=https://scontent-frt3-1.xx.fbcdn.net/t31.0-8/12841246_960583244026058_2540576100628038883_o.jpg alt="SIE3" width="800" height="100%">
    </div>

    <div class="item" id="tlo3">
      <img src="img_flower2.jpg" alt="Flower" width="460" height="345">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#tlo1" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#tlo3" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>










<br><br><br><br><br>


  <div class="fiction">F I C T I O N  . B L O G</div>
  <div class="about" id="#">A B O U T . M E</div>
  <div class="new" id="#">N E W . N E W . N E W</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<div class="tresc-about" id="about">
<img class="img-responsive img-circle img-center" margin:"20px" width="300" height="300" src=https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/12688096_1084688228230597_3744428873406273250_n.jpg?oh=24e96d6b179b0e41c137f26eb740d8cc&oe=58461E49>
</div>
<div class="tresc">
<p class= "text-center text-justify">

    Hello! My name is Wiktoria and I live in Berlin. I bouild this blog too proof

      that i can code, have good knowledge of html, css, ruby and bootstrap. As the

       name of the blog is saying, all inside is a fiction or it's just copy from

       other websites. In few world about me. My first touch with html was when i was

        10 years old. I was doing it just for fun for my "diary blog". I would never

        thought that after 16 years i will try to do it again and this time more serious.

         Life is pretty funny. If U like my work on the right corner U can find way to

         cantact me.
         Hello! My name is Wiktoria and I live in Berlin. I bouild this blog too proof

         that i can code, have good knowledge of html, css, ruby and bootstrap. As the

          name of the blog is saying, all inside is a fiction or it's just copy from

          other websites. In few world about me. My first touch with html was when i was

           10 years old. I was doing it just for fun for my "diary blog". I would never

           thought that after 16 years i will try to do it again and this time more serious.

            Life is pretty funny. If U like my work on the right corner U can find way to

            cantact me.

       </p>

</div>
<br><br><br><br><br><br><br><br><br><br><br>
<div id="myCarousel">
<br>
<div  class="carousel slide" data-ride="carousel">


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://scontent-frt3-1.xx.fbcdn.net/t31.0-8/12339274_912408312176885_1048118307094354735_o.jpg" alt="SIE" width="1000" height="300">
    </div>

    <div class="item">
      <img src="img_chania2.jpg" alt="Chania" width="460" height="345">
    </div>

    <div class="item">
      <img src="img_flower.jpg" alt="SIE" width="460" height="345">
    </div>


  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br><br><br><br><br><br><br><br><br><br><br>

</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>


 <div class="contact"; id="contact">
<br>
<div class="ikonki">
<a href="#phonenumber">
<img class="img-circle img-resposive" src="https://image.freepik.com/free-icon/phone-symbol-of-an-auricular-inside-a-circle_318-50305.jpg" alt="phone" width="50px" height="50px">
</a>
<a href="#wikatoQgmail.com">
<img class="img-circle img-resposive" src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/foundation/foundation_mail/foundation_mail_flat-circle-white-on-black_512x512.png" alt="mail" width="50px" height="50px">
</a>
<a href="http://www.facebook.com/wiktoria.rychlewska">
<img class="img-circle img-resposive" src="https://image.freepik.com/free-icon/facebook-round_318-26615.jpg" alt="fb" width="50px" height="50px">
</a>

<img class="img-circle img-resposive" src="http://static1.squarespace.com/static/5418bbbae4b029fe6b4734d1/t/5643c575e4b081513daee310/1447282054351/" alt="twiter" width="50px" height="50px">

<img class="img-circle img-resposive" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_circle_black-512.png" alt="instagram" width="50px" height="50px">
</div>
<br>
<br>

<br>
</div>
<div class="contact1" id="#">C O N T A C T . M E</div>
<div class="fictionsmall">F I C T I O N  . B L O G</div>
